<a href="https://colab.research.google.com/github/shahnawaz786ali/pandas/blob/main/pandas_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=int(input("Enter first number-"))
b=int(input("Enter second number-"))

print(a*b)

Enter first number-10
Enter second number-20
200

In [ ]:
list1=[2,5,8,10,13,17,20,22]
sum=0
for i in list1:
  sum=sum+i

print(sum)

97

In [ ]:
import pandas as pd

a=[23,90,12,23,39]

s=pd.Series(a)
print(s)

0    23
1    90
2    12
3    23
4    39
dtype: int64

In [ ]:
import pandas as pd

a={"Name":['Sahil','Shahnawaz','Raju','Deepak'], "Age":[30,29,12,25]}
data=pd.DataFrame(a)
# print(data)
# print(data.head(2))
# print(data.tail(2))
print(data.info)

<bound method DataFrame.info of         Name  Age
0      Sahil   30
1  Shahnawaz   29
2       Raju   12
3     Deepak   25>

In [ ]:
print(data)

print(data['Name'].describe())

        Name  Age
0      Sahil   30
1  Shahnawaz   29
2       Raju   12
3     Deepak   25
count         4
unique        4
top       Sahil
freq          1
Name: Name, dtype: object

In [ ]:
sorted_data=data.sort_values('Age',ascending=False)
print(sorted_data)

        Name  Age
0      Sahil   30
1  Shahnawaz   29
3     Deepak   25
2       Raju   12

In [ ]:
filter_data=data[(data['Age']>20) & (data['Name']=="Sahil")]
print(filter_data)

    Name  Age
0  Sahil   30

In [ ]:
import pandas as pd

a={"Name":['Sahil','Shahnawaz','Raju','Deepak','xyz','abc'], "Age":[30,29,12,25,30,12]}
data=pd.DataFrame(a)

mean_age=data['Age'].mean()
median_age=data['Age'].median()
mode_age=data['Age'].mode()
print(mean_age)
print(median_age)
print(mode_age)

23.0
27.0
0    12
1    30
Name: Age, dtype: int64